<div class="user-menu-layout">
    <SettingsIcon Size="20px" Color="var(--white-color)"></SettingsIcon>
    <SettingsIcon Size="20px" Color="var(--white-color)"></SettingsIcon>
    <SettingsIcon Size="20px" Color="var(--white-color)"></SettingsIcon>
</div>

@code {

}
