@using CodenamesWeb.Enums
<div class="@Style position-relative">
    <div class="d-flex justify-content-center align-items-center ibm-plex-mono-semibold @colorStyle word-btn">
        @Text
        <div class="word-button-icons">
            <GhostIcon></GhostIcon>
            <GhostIcon></GhostIcon>
            <GhostIcon></GhostIcon>
            <GhostIcon></GhostIcon>
            <GhostIcon></GhostIcon>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string Text { get; set; } = "Паралелограм";

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public ButtonColor Color { get; set; } = ButtonColor.White;

    private string colorStyle { 
        get {
            switch(Color)
            {
                case ButtonColor.Red: return "red-word-btn";
                case ButtonColor.Blue: return "blue-word-btn";
                case ButtonColor.Yellow: return "yellow-word-btn";
                case ButtonColor.Green: return "green-word-btn";
                case ButtonColor.Dark: return "dark-word-btn";
                default:return "white-word-btn";
            }
        }
    }

}
