@page "/gameLobby"

<div class="team-cards-layout">
    <TeamCard Color="ColorStyle.Blue"></TeamCard>
    <TeamCard></TeamCard>
    <TeamCard Color="ColorStyle.Green"></TeamCard>
    <TeamCard Color="ColorStyle.Yellow"></TeamCard>
</div>

@code {

}
