@page "/gameRoom"

<PageTitle>Codenames</PageTitle>

@*ready to clear*@
<div class="w-100 h-100 d-grid gap-default game-field-layout">
    @*ready to clear*@
    <div class="d-flex gap-default">
        <TeamCricle Color="ColorStyle.Blue"></TeamCricle>
        <TeamCricle ShowUserList="true" Color="ColorStyle.Green"></TeamCricle>
        <TeamCricle Color="ColorStyle.Yellow"></TeamCricle>
        <Timer></Timer>
    </div>
    @*ready to clear*@
    <div class="d-flex justify-content-between menu-field-layout">
        <TeamCricle ShowUserList="true" Color="ColorStyle.Red"></TeamCricle>
        <UserMenu></UserMenu>
    </div>
    @*ready to clear*@
    <div class="d-grid game-field-25">
        <WordButton Color="ColorStyle.Red"></WordButton>
        <WordButton Color="ColorStyle.Blue"></WordButton>
        <WordButton Color="ColorStyle.Yellow"></WordButton>
        <WordButton Color="ColorStyle.Dark"></WordButton>
        <WordButton Color="ColorStyle.Green"></WordButton>
        <WordButton Text="word"></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
        <WordButton></WordButton>
    </div>
    <MessagePanel SendButtonColor="ColorStyle.Red"></MessagePanel>
</div>

@code {

}
