@page "/gameLobby"

<div class="lobby-blocks-layout">
    <GameConfiguration></GameConfiguration>
    <PlayerConfiguration></PlayerConfiguration>
</div>

<div class="team-cards-layout">
    <TeamCard Color="ColorStyle.Blue"></TeamCard>
    <TeamCard Color="ColorStyle.Red"></TeamCard>
    <TeamCard Color="ColorStyle.Green"></TeamCard>
    <TeamCard Color="ColorStyle.Yellow"></TeamCard>
</div>

@code {

}
