@page "/"
@inject NavigationManager _navManager

<PageTitle>Home</PageTitle>

<button type="button" @onclick="GoToGameRoom">
    Room
</button>

<button type="button" @onclick="GoToGameLobby">
    Games
</button>

@code {
    void GoToGameRoom()
    {
        _navManager.NavigateTo("/gameRoom");
    }

    void GoToGameLobby()
    {
        _navManager.NavigateTo("/games");
    }
}