@page "/"

<PageTitle>Home</PageTitle>

<div class="game-field-wrapper">
    <div class="game-field-layout">
        <div class="teams-field-layout">
            <TeamCricle Color="ColorStyle.Blue"></TeamCricle>
            <TeamCricle ShowUserList="true" Color="ColorStyle.Red"></TeamCricle>
            <TeamCricle Color="ColorStyle.Green"></TeamCricle>
            <TeamCricle Color="ColorStyle.Yellow"></TeamCricle>
            <Timer></Timer>
        </div>
        <div>
        </div>

        <div class="game-field-25">
            <WordButton Color="ColorStyle.Red"></WordButton>
            <WordButton Color="ColorStyle.Blue"></WordButton>
            <WordButton Color="ColorStyle.Yellow"></WordButton>
            <WordButton Color="ColorStyle.Dark"></WordButton>
            <WordButton Color="ColorStyle.Green"></WordButton>
            <WordButton Text="word"></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
        </div>

        <div></div>
    </div>
</div>


