@page "/"

<PageTitle>Home</PageTitle>

<div class="game-field-25">
    <WordButton Color="ButtonColor.Red"></WordButton>
    <WordButton Color="ButtonColor.Blue"></WordButton>
    <WordButton Color="ButtonColor.Yellow"></WordButton>
    <WordButton Color="ButtonColor.Dark"></WordButton>
    <WordButton Color="ButtonColor.Green"></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
    <WordButton></WordButton>
</div>

