@page "/"

<PageTitle>Home</PageTitle>

<div class="game-field-wrapper">
    <div class="game-field-layout">
        <div></div>
        <div></div>

        <div class="game-field-25">
            <WordButton Color="ButtonColor.Red"></WordButton>
            <WordButton Color="ButtonColor.Blue"></WordButton>
            <WordButton Color="ButtonColor.Yellow"></WordButton>
            <WordButton Color="ButtonColor.Dark"></WordButton>
            <WordButton Color="ButtonColor.Green"></WordButton>
            <WordButton Text="word"></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
            <WordButton></WordButton>
        </div>

        <div></div>
    </div>
</div>


