<div class="messages-field-layout">
    <div class="messages-panel messages-up-direction">
        <Message Item="messages[0]"></Message>
        <Message Item="messages[1]"></Message>
        <Message Item="messages[2]"></Message>
        <Message Item="messages[2]"></Message>
        <Message Item="messages[2]"></Message>
    </div>
    <hr class="messages-panel-hr"/>
    <div class="messages-panel">
        <Message Item="messages[3]"></Message>
        <Message Item="messages[3]"></Message>
        <Message Item="messages[3]"></Message>
        <Message Item="messages[3]"></Message>
    </div>
    @if(IsCaptian)
    {
        <div class="message-input-layout">
            <div class="message-input-field">
                <input class="message-text-input ibm-plex-mono-regular" type="text"/>
                <div class="message-input-separator">

                </div>
                <input class="message-number-input ibm-plex-mono-bold" type="number"/>
            </div>
            <button class="message-input-button ibm-plex-mono-bold" style="background-color: var(@GetColorStyle(SendButtonColor))">Відправити</button>
        </div>
    }   
</div>
@code {
    [Parameter]
    public ColorStyle SendButtonColor { get; set; } = ColorStyle.Red;

    protected string GetColorStyle(ColorStyle Color)
    {
        switch (Color)
        {
            case ColorStyle.Red: return "--red-color";
            case ColorStyle.Blue: return "--blue-color";
            case ColorStyle.Yellow: return "--yellow-color";
            case ColorStyle.Green: return "--green-color";
            case ColorStyle.Dark: return "--dark-color";
            default: return "--white-color";
        }
    }
    List<MessageDto> messages = new();

    protected override void OnInitialized()
    {
        messages.Add(new MessageDto()
        {
            Text = "якесь_слово",
            Count = 2,
            Color = ColorStyle.Green,
            From = new UserDto("chokopie")
            });
        messages.Add(new MessageDto()
            {
                Text = "якесь_слово",
                Count = 3,
                Color = ColorStyle.Blue,
                From = new UserDto("solify")
            });
        messages.Add(new MessageDto()
            {
                Text = "якесь_слово",
                Count = 1,
                Color = ColorStyle.Green,
                From = new UserDto("chokopie")
            });
        messages.Add(new MessageDto()
            {
                Text = "якесь_слово",
                Count = 2,
                Color = ColorStyle.Red,
                From = new UserDto("kirgo")
            });
    }

    public bool IsCaptian { get; set; } = true;
}
