@inherits ColoredComponent

@*ready to clear*@
<div class="d-flex team-block-layout">
    @*ready to clear*@
    <div class="d-flex align-items-center justify-content-center h-100 rounded-circle user-select-none text-dark team-circle ibm-plex-mono-semibold" style="background-color: @Resources.TransparentColor(Color, 0.5)">
        @WordsCount
    </div>
    @if(ShowUserList)
    {
        @*ready to clear*@
        <div class="d-flex flex-column justify-content-around user-list ibm-plex-mono-regular">
            @for (var i = 0; i < Users.Count; i++)
            {
                <UserItem Color="@(i == 0 ? ColorStyle.CaptainYellow : ColorStyle.White)" User="Users[i]"></UserItem>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public int WordsCount { get; set; } = 9;

    public List<UserDto> Users { get; set; } = new(new [] {
        new UserDto("kirgo"),
        new UserDto("solify"),
        new UserDto("alinka"),
        new UserDto("sizon")
    });

    [Parameter]
    public bool ShowUserList { get; set; } = false;
}
