@inherits ColoredComponent

<div class="team-block-layout">
    <div class="team-circle ibm-plex-mono-semibold" style="background-color: @Resources.TransparentColor(Color, 0.5)">
        @WordsCount
    </div>
    @if(ShowUserList)
    {
        <div class="user-list ibm-plex-mono-regular">
            @foreach(var userName in UserNames)
            {
                <div class="user-name-field">
                    <GhostIcon Size="13px" Color="ColorStyle.White"></GhostIcon> @userName
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public int WordsCount { get; set; } = 9;

    public List<string> UserNames { get; set; } = new(new [] {"kirgo", "solify", "alinka", "sizon"});

    [Parameter]
    public bool ShowUserList { get; set; } = false;
}
