<div class="timer-layout">
    <div class="timer-action-text ibm-plex-mono-regular">
        Відгадуємо
    </div>
    <div class="timer-time-text ibm-plex-mono-semibold">
        0:35
    </div>
</div>
@code {

}
