<div class="user-menu-layout">
    <button type="button" class="action-button">
        <DoorIcon Size="22px" Color="ColorStyle.White"></DoorIcon>
    </button>
    <button type="button" class="action-button">
        <SettingsIcon Size="22px" Color="ColorStyle.White"></SettingsIcon>
    </button>
    <button type="button" class="action-button">
        <ProfileIcon Size="22px" Color="ColorStyle.White"></ProfileIcon>
    </button>
</div>

@code {

}
