@*ready to clear*@
<div class="d-flex flex-column justify-content-between user-menu-layout">
    <button type="button">
        <DoorIcon Size="2vw" Color="ColorStyle.White"></DoorIcon>
    </button>
    <button type="button">
        <SettingsIcon Size="2vw" Color="ColorStyle.White"></SettingsIcon>
    </button>
    <button type="button">
        <ProfileIcon Size="2vw" Color="ColorStyle.White"></ProfileIcon>
    </button>
</div>

@code {

}
