@using CodenamesWeb.Enums
@inherits ColoredComponent

@*ready to clear*@
<button class="@Style w-100 d-flex position-relative word-btn-onclick justify-content-center align-items-center text-center text-uppercase ibm-plex-mono-semibold word-btn" @onclick="ChangeColor" style="background-color: @Resources.Color(Color); color: @Resources.TextColor(Color)">
    @Text
    @*ready to clear*@
    <div class="position-absolute word-button-icons">
        <GhostIcon Color="IconsColor"></GhostIcon>
        <GhostIcon Color="IconsColor"></GhostIcon>
        <GhostIcon Color="IconsColor"></GhostIcon>
        <GhostIcon Color="IconsColor"></GhostIcon>
    </div>
</button>


@code {
    [Parameter]
    public string Text { get; set; } = "Паралелограм";

    [Parameter]
    public string Style { get; set; } = string.Empty;

    public ColorStyle IconsColor { get => Color is ColorStyle.Dark ? ColorStyle.White : ColorStyle.Dark; }

    private void ChangeColor()
    {
        Color = Color != ColorStyle.Dark ? Color + 1 : 0;
    }

}
