@using CodenamesWeb.Enums
@inherits ColoredComponent
<button class="@Style position-relative word-btn-onclick d-flex justify-content-center align-items-center ibm-plex-mono-semibold word-btn" @onclick="ChangeColor" style="background-color: @Resources.Color(Color); color: @Resources.TextColor(Color)">
    @Text
    <div class="word-button-icons">
        <GhostIcon Color="IconsColor"></GhostIcon>
        <GhostIcon Color="IconsColor"></GhostIcon>
        <GhostIcon Color="IconsColor"></GhostIcon>
        <GhostIcon Color="IconsColor"></GhostIcon>
    </div>
</button>


@code {
    [Parameter]
    public string Text { get; set; } = "Паралелограм";

    [Parameter]
    public string Style { get; set; } = string.Empty;

    public ColorStyle IconsColor { get => Color is ColorStyle.Dark ? ColorStyle.White : ColorStyle.Dark; }

    private void ChangeColor()
    {
        Color = Color != ColorStyle.Dark ? Color + 1 : 0;
    }

}
