.team-cards-layout {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vw;
    padding: 3vh 2vw;
}

.team-card-layout {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.team-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 4vh;
    padding: 10vh 1vw;
    color: var(--white-color);
    background-color: var(--dark-color);
    border-radius: 2px;
    font-size: 1vw;
}

.team-card-light-layout {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.team-card-light-hover {
    transition: opacity 0.2s ease-in;
    opacity: 100;
}

.join-team-text-layout {
    position: relative;
}

.join-team-text {
    top: 0;
    font-size: 2vw;
    color: var(--white-color);
    text-align: center;
    transform: translateY(7vh);
    transition: transform 0.35s ease-out;
}

.join-team-text-hover {
    transform: translateY(0px);
    transition: transform 0.2s ease-in;
}

.configuration-field-layout {
    background-color: var(--dark-color);
    border-radius: 10px;
}

.lobby-blocks-layout {
    display: grid;
    grid-template-columns: 2.15fr 1.3fr;
    gap: 2vw;
    height: 40vh;
    padding: 5vh 10vw;
}

.lobby-block-header {
    border-radius: 10px 10px 0px 0px;
    height: 20%;
    width: 100%;
    background-color: rgba(var(--block-bg-color-t), 0.5);
}

.lobby-configuration-block {
    display: flex;
    height: 80%;
    padding: 1.5vh 1vw;
    justify-content: space-between;
}

.game-settings {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 8vw;
    row-gap: 3vh;
}

.game-setting {
    display: flex;
    flex-direction: column;
}

.setting-name-text {
    color: var(--white-color);
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.6vw;
}

.setting-value-text {
    color: var(--yellow-color);
    font-style: italic;
    font-weight: 200;
    font-size: 0.8vw;
}

.gamemode-circle-layout {
    display: flex;
    padding: 1.5vh;
}

.gamemode-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 100%;
    color: var(--dark-color);
    font-size: 9vmin;
    user-select: none;
    background-color: var(--blue-color);
    opacity: 70%;
}

.gamemode-2-players {
    background-image: conic-gradient(from 45deg,
    var(--red-color) 0deg 180deg,
    var(--blue-color) 180deg 360deg);
}

.gamemode-3-players {
    background-image: conic-gradient(from -60deg, 
    var(--blue-color) 0deg 120deg, 
    var(--green-color) 120deg 240deg, 
    var(--red-color) 240deg 360deg);
}

.gamemode-4-players {
    background-image: conic-gradient(from -45deg,
    var(--blue-color) 0deg 90deg, 
    var(--green-color) 90deg 180deg, 
    var(--yellow-color) 180deg 270deg,
    var(--red-color) 270deg 360deg);
}
