.games-layout {
    grid-template-columns: 6.5fr 3fr;
    grid-template-rows: 40vh auto;
}

.game-list-layout {
    grid-row-start: span 2;
}

.game-code-block {
    background-color: rgba(var(--dark-color-t), 0.3);
    padding: 1.5vh 1vw;
}

.game-code-label {
    color: var(--cap-yellow-color);
}

.game-code-text {
    font-size: 1.7vw;
}

.game-list-table-container {
    height: 85%;
    overflow-y: scroll;
}

.game-list-table {
    border: 1px solid var(--dark-color);
    background-color: rgba(var(--dark-color-t), .3);
}

.game-list-table thead {
    background-color: rgba(var(--dark-color-t), 0.3);
    font-size: 0.7vw;
    font-style: italic;
    color: var(--cap-yellow-color);
}

.game-list-table tbody {
    font-size: 0.8vw;
}

.game-list-table td::selection {
    color: var(--dark-color);
    background-color: rgba(var(--white-color-t), 0.3);
}

.game-list-table td {
    padding: 3px 5px;
    border-right: 1px solid var(--dark-color);
}

.game-list-table tbody tr:hover {
    background-color: rgba(var(--white-color-t), 0.1);
    cursor: pointer;
}

.game-list-table td:nth-child(1) {
    user-select: all;
}

.game-list-table td:nth-child(2) {
    max-width: 150px;
    user-select: none;
}

.game-list-table #last-row {
    min-height: 1vh;
    cursor: default;
}

.game-list-table #last-row:hover {
    background-color: transparent;
}

.team-card {
    max-height: calc(100vh - var(--main-vpad)*2 - var(--default-gap) - 40vh);
    aspect-ratio: 1 / 1.6;
    flex: 1;
    box-sizing: border-box;
    background-color: rgba(var(--dark-color-t), 0.5);
    border-radius: 2px;
    font-size: 1vw;
}

.team-card-light-layout {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.team-card-light-hover {
    transition: opacity 0.2s ease-in;
    opacity: 100;
}

.configuration-field-layout {
    background-color: rgba(var(--dark-color-t), 0.5);
}

.lobby-blocks-layout {
    grid-template-columns: 2.15fr 1.3fr;
    height: 40vh;
}

.lobby-block-header {
    height: 20%;
    border-radius: var(--block-br) var(--block-br) 0px 0px;
    background-color: rgba(var(--block-bg-color-t), 0.5);
}

.lobby-configuration-block {
    height: 80%;
    padding: 1.5vh 1vw;
}

.game-settings-layout {
    width: 70%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.setting-name-text {
    font-size: 1.6vw;
}

.setting-value-text {
    color: var(--yellow-color);
    font-weight: 200;
    font-size: 0.8vw;
}

.gamemode-circle-layout {
    width: 30%;
}

.gamemode-circle {
    background-color: var(--blue-color);
    opacity: 70%;
}

.gamemode-2-players {
    background-image: conic-gradient(from 45deg, var(--red-color) 0deg 180deg, var(--blue-color) 180deg 360deg);
}

.gamemode-3-players {
    background-image: conic-gradient(from -60deg, var(--blue-color) 0deg 120deg, var(--green-color) 120deg 240deg, var(--red-color) 240deg 360deg);
}

.gamemode-4-players {
    background-image: conic-gradient(from -45deg, var(--blue-color) 0deg 90deg, var(--green-color) 90deg 180deg, var(--yellow-color) 180deg 270deg, var(--red-color) 270deg 360deg);
}

.player-configuration-block {
    padding: 1.5vh 1vw;
    height: 80%;
}

.player-name-input {
    font-size: 1vw;
    color: var(--white-color);
    min-width: 4ch;
    padding: 0 1vw;
    box-sizing: content-box;
}

.player-name-input::selection {
    color: var(--dark-color);
    background-color: rgba(var(--white-color-t), 0.5);
}

.player-name-input-hr {
    border: 1px solid var(--white-color);
    min-width: 4ch;
    font-size: 1vw;
    border-radius: 10px;
    transition: width 0.2s ease-in-out;
}
