:root {
    --word-btn-onclick-scale: 1.02;
    --white-color: #E8E8E8;
    --red-color: #F97272;
    --blue-color: #81A2F8;
    --green-color: #82CA7C;
    --yellow-color: #FDE284;
    --dark-color: #3F3F3F;
    --bg-color: #595959;
    --cap-yellow-color: #DFE169;

    --white-color-t: 232, 232, 232;
    --red-color-t: 249, 114, 114;
    --blue-color-t: 129, 162, 248;
    --green-color-t: 130, 202, 124;
    --yellow-color-t: 253, 226, 132;
    --dark-color-t: 63, 63, 63;
    --bg-color-t: 89, 89, 89;
    --block-bg-color-t: 217, 217, 217;
}

button {
    border: 0px;
    background-color: transparent;
}

body {
    background-color: var(--bg-color);
}

.main-layout {
    width: 100%;
    height: 100vh;
    padding: 3vh 5vw;
    display: flex;
    flex-direction: column;
}

.game-field-layout {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    grid-template-rows: 1fr 3.7fr;
    column-gap: 3vw;
    row-gap: 3vh;
    width: 100%;
    height: 100%;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
}

.game-field-25 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.word-btn {
    border: none;
    width: 100%;
    padding: 3vh 1vw;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 2.3vmin;
    word-wrap: anywhere;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}


.word-button-icons {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

@keyframes beat {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        -webkit-transform: scale(var(--word-btn-onclick-scale),var(--word-btn-onclick-scale));
        transform: scale(var(--word-btn-onclick-scale),var(--word-btn-onclick-scale));
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.word-btn-onclick {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

    .word-btn-onclick:focus {
        -webkit-animation: beat 0.3s ease-in-out backwards;
        animation: beat 0.3s ease-in-out backwards;
    }

    .word-btn-onclick:active {
        -webkit-animation: none;
        animation: none;
    }

.teams-field-layout {
    display: flex;
    gap: 1.4vw;
    padding: 1vh 0px;
}

.team-block-layout {
    display: flex;
    gap: 1vw;
}

.team-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 100%;
    font-size: 9vmin;
    user-select: none;
}

.user-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white-color);
    padding: 5px 0;
}

.user-name-field {
    display: flex;
    align-items: center;
    gap: 10px;
}

.timer-layout {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: end;
    align-items: end;
}

.timer-action-text {
    font-size: 1vw;
    text-decoration: underline;
    color: var(--white-color);
}

.timer-time-text {
    font-size: 4vw;
    color: var(--white-color);
    line-height: 8vmin;
    word-wrap: anywhere;
}

.menu-field-layout {
    display: flex;
    justify-content: space-between;
    padding: 1vh 0px;
}

.user-menu-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 0px 1.8vh 0;
}

.action-button {
    background-color: transparent;
    border: none;
}

.messages-field-layout {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--block-bg-color-t), 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.messages-panel {
    padding: 0px 0.5vw 0.5vh 1vw;
    margin: 1vh 0.5vw 0.5vh 0px;
    display: flex;
    height: 50%;
    flex-direction: column;
    gap: 1.2vmin;
    overflow-y: scroll;
}

.messages-up-direction {
    flex-direction: column-reverse;
}

.messages-panel-hr {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: 7px 7px 7px 7px;
    margin: 0px;
}

.message-block-layout {
    display: flex;
    gap: 1vw;
    background-color: rgba(var(--bg-color-t), 0.5);
    border-radius: 10px;
    padding: 1vh 1vw;
}

.message-pin-layout {
    padding: 5px;
}

.message-pin {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.message-username {
    font-style: italic;
    text-decoration: underline;
    font-size: 0.8vw;
}

.message-text {
    color: var(--white-color);
    font-style: italic;
}

.message-count {
    font-size: 2vw;
    margin-left: auto;
    color: var(--white-color);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    }

.message-input-layout {
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw 2vh 1vw;
}

.message-input-field, .message-text-input, .message-number-input, .message-input-button {
    margin: 0px;
    border: 0px;
    outline: none;
    background-color: transparent;
    padding: 0px;
}

.message-input-field {
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 1vw;
    background-color: rgba(var(--block-bg-color-t), 0.1);
    border-radius: 10px 10px 0 0;
}

.message-input-separator {
    background-color: var(--white-color);
    width: 1px;
    margin: 1px 0;
}

.message-text-input {
    width: 75%;
    padding: 1vh 0px;
    font-style: italic;
    color: var(--white-color);
}

.message-text-input::placeholder {
    color: var(--white-color);
}

.message-number-input {
    width: 20%;
    color: var(--white-color);
    font-size: 2vw;
    text-align: center;
}

.message-input-button {
    border-radius: 0 0 10px 10px;
    padding: 1vh 1vw;
    color: var(--dark-color);
    font-size: 1.3vw;
}

.message-input-button:disabled,
.message-input-button[disabled]{
    cursor: not-allowed;
}

.message-number-input::-webkit-outer-spin-button,
.message-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.message-number-input[type=number] {
    -moz-appearance: textfield;
}
