.games-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 6.5fr 3fr;
    grid-template-rows: 40vh auto;
    gap: 2vw;
}

.game-list-layout {
    grid-row-start: span 2;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.game-code-block {
    background-color: rgba(var(--dark-color-t), 0.3);
    padding: 2vh 1vw;
    border-radius: 10px;
}

.game-code-label {
    color: var(--cap-yellow-color);
}

.game-code-text {
    text-transform: uppercase;
    font-size: 1.7vw;
    color: var(--white-color);
}

.game-list-menu-buttons {
    display: flex;
    justify-content: space-between;
}

.game-list-table-container {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.game-list-table {
    width: 100%;
    margin: 0;
    color: var(--white-color);
    border: 1px solid var(--dark-color);
    background-color: rgba(var(--dark-color-t), .3);
    text-align: right;
}

.game-list-table thead {
    background-color: rgba(var(--dark-color-t), 0.3);
    font-size: 0.7vw;
    font-style: italic;
    color: var(--cap-yellow-color);
}

.game-list-table tbody {
    font-size: 0.8vw;
}

.game-list-table td::selection {
    color: var(--dark-color);
    background-color: rgba(var(--white-color-t), 0.3);
}

.game-list-table td {
    padding: 3px 5px;
    border-right: 1px solid var(--dark-color);
}

.game-list-table tbody tr:hover {
    background-color: rgba(var(--white-color-t), 0.1);
    cursor: pointer;
}

.game-list-table td:nth-child(1) {
    user-select: all;
}

.game-list-table td:nth-child(2) {
    max-width: 150px;
    user-select: none;
}

.game-list-table #last-row {
    min-height: 1vh;
}

.game-list-table #last-row:hover {
    background-color: transparent;
}

.game-lobby-layout {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.team-cards-layout {
    gap: 2vw;
}

.team-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 4vh;
    color: var(--white-color);
    background-color: rgba(var(--dark-color-t), 0.5);
    border-radius: 2px;
    font-size: 1vw;
    max-width: 25%;
    aspect-ratio: 1 / 1.7;
}

.team-card-light-layout {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.team-card-light-hover {
    transition: opacity 0.2s ease-in;
    opacity: 100;
}

.configuration-field-layout {
    position: relative;
    background-color: rgba(var(--dark-color-t),0.5);
    border-radius: 10px;
    overflow: hidden;
}

.lobby-blocks-layout {
    display: grid;
    grid-template-columns: 2.15fr 1.3fr;
    gap: 2vw;
    height: 40vh;
}

.lobby-block-header {
    border-radius: 10px 10px 0px 0px;
    height: 20%;
    width: 100%;
    background-color: rgba(var(--block-bg-color-t), 0.5);
}

.lobby-configuration-block {
    display: flex;
    height: 80%;
    padding: 1.5vh 1vw;
    justify-content: space-between;
    gap: 2vw;
}

.game-settings-layout {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vh;
}

.game-setting {
    display: flex;
    flex-direction: column;
}

.setting-name-text {
    color: var(--white-color);
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.6vw;
}

.setting-value-text {
    color: var(--yellow-color);
    font-style: italic;
    font-weight: 200;
    font-size: 0.8vw;
}

.gamemode-circle-layout {
    display: flex;
    align-items: center;
    width: 30%;
}

.gamemode-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 100%;
    color: var(--dark-color);
    font-size: 9vmin;
    user-select: none;
    background-color: var(--blue-color);
    opacity: 70%;
}

.gamemode-2-players {
    background-image: conic-gradient(from 45deg, var(--red-color) 0deg 180deg, var(--blue-color) 180deg 360deg);
}

.gamemode-3-players {
    background-image: conic-gradient(from -60deg, var(--blue-color) 0deg 120deg, var(--green-color) 120deg 240deg, var(--red-color) 240deg 360deg);
}

.gamemode-4-players {
    background-image: conic-gradient(from -45deg, var(--blue-color) 0deg 90deg, var(--green-color) 90deg 180deg, var(--yellow-color) 180deg 270deg, var(--red-color) 270deg 360deg);
}

.player-configuration-block {
    padding: 1.5vh 1vw;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.player-icon-block {
    display: flex;
}

.player-icon-arrow-btn {
    border: none;
    background-color: transparent;
}


.player-name-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.player-name-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-color);
    min-width: 4ch;
    max-width: 100%;
    text-align: center;
    font-size: 1vw;
    padding: 0 1vw;
    box-sizing: content-box;
}

    .player-name-input::selection {
        color: var(--dark-color);
        background-color: rgba(var(--white-color-t), 0.5);
    }

.player-name-input-hr {
    border: 1px solid var(--white-color);
    color: var(--white-color);
    border-radius: 7px 7px 7px 7px;
    margin: 0px;
    opacity: 1;
    transition: width 0.2s ease-in-out;
    min-width: 4ch;
    font-size: 1vw;
}
