:root {
    --word-btn-onclick-scale: 1.02;
    --white-color: #E8E8E8;
    --red-color: #F97272;
    --blue-color: #81A2F8;
    --green-color: #82CA7C;
    --yellow-color: #FDE284;
    --dark-color: #3F3F3F;
}

body {
    background-color: #595959;
}

.game-field-layout {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    grid-template-rows: 1fr 3.7fr;
    column-gap: 3vw;
    row-gap: 3vh;
    width: 100%;
    height: 100%;
}

.game-field-wrapper {
    width: 100%;
    height: 95vh;
    padding: 3vh 5vw;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

.game-field-25 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.white-bg {
    background-color: var(--white-color);
    color: #3F3F3F;
}

.blue-bg {
    background-color: var(--blue-color);
    color: var(--dark-color);
}

.green-bg {
    background-color: var(--green-color);
    color: var(--dark-color);
}

.red-bg {
    background-color: var(--red-color);
    color: var(--dark-color);
}

.yellow-bg {
    background-color: var(--yellow-color);
    color: var(--dark-color);
}

.dark-bg {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.word-btn {
    border: none;
    width: 100%;
    padding: 3vh 1vw;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    word-wrap: anywhere;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}


.word-button-icons {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

@keyframes beat {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        -webkit-transform: scale(var(--word-btn-onclick-scale),var(--word-btn-onclick-scale));
        transform: scale(var(--word-btn-onclick-scale),var(--word-btn-onclick-scale));
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.word-btn-onclick {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.word-btn-onclick:focus {
    -webkit-animation: beat 0.3s ease-in-out backwards;
    animation: beat 0.3s ease-in-out backwards;
}

.word-btn-onclick:active {
    -webkit-animation: none;
    animation: none;
}

.teams-field-layout {
    display: flex;
    gap: 1.4vw;
    padding: 1vh 0px;
}

.team-block-layout {
    display: flex;
    gap: 1vw;
}

.team-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 100%;
    font-size: 9vmin;
}

.user-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white-color);
    padding: 5px 0;
}

.user-name-field {
    display: flex;
    align-items: center;
    gap: 10px;
}

.timer-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.timer-action-text {
    font-size: 1.8vmin;
    text-decoration: underline;
    color: var(--white-color);
}

.timer-time-text {
    font-size: 8vmin;
    color: var(--white-color);
    line-height: 8vmin;
}

.menu-field-layout {
    display: flex;
    justify-content: space-between;
}

.user-menu-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 0px;
}