@inherits ColoredComponent

<div class="configuration-field-layout">
    <div class="lobby-block-header" style="background-color: @Resources.Color(Color)"></div>
    <div class="player-configuration-block">

    </div>
</div>

@code {

}
