@*ready to clear*@
<div class="d-flex align-items-center gamemode-circle-layout">
    @*ready to clear*@
    <div class="w-100 d-flex ratio ratio-1x1 align-items-centerjustify-content-center user-select-none rounded-circle gamemode-circle gamemode-@LobbyConfigurationDto.TeamCount-players ibm-plex-mono-bold">
    </div>
</div>
@code {
    [CascadingParameter]
    public LobbyConfigurationDto LobbyConfigurationDto { get; set; }

}
