@*ready to clear*@
<div class="d-flex align-items-center gamemode-circle-layout" @onclick="ChangeCount">
    @*ready to clear*@
    <div class="w-100 d-flex ratio ratio-1x1 align-items-centerjustify-content-center user-select-none rounded-circle gamemode-circle gamemode-@TeamsCount-players ibm-plex-mono-bold">
    </div>
</div>
@code {
    [Parameter]
    public int TeamsCount { get; set; } = 3;

    public void ChangeCount ()
    {
        TeamsCount++;
        if (TeamsCount > 4) TeamsCount = 2;
        StateHasChanged();
    }
}
